* {
	box-sizing: border-box;
}

#Name {
	position: relative;
	left: 150px;
	top: 20px;
	width: 225px;
	font-size: 24px;
	font-style: bold;
	font-family: Georgia;
	padding: 20px;
	color: white;
	background-color: #008B8B;
	text-align: center;
}

.wrapper {
	clear: both;
	width: 100%;
	margin: 0 auto 0 auto;
}

#background {
	position: relative;
	background-color: #DCDCDC;
	height: 560px;
	border-top: 2px;
	border-style: solid;
	border-color: #708090;
}

#paragraph {
	position: absolute;
	padding: 20px;
	background-color: #ffffff;
	width: 700px;
	height: 505px;
	top: 30px;
	left: 150px;
}