#Name {
	position: relative;
	left: 150px;
	width: 270px;
	height: 50px;
	font-style: bold;
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding: 10px;
	color: white;
	background-color: #008B8B;
	text-align: center;
	border-bottom: 2px;
	border-bottom-style: solid;
	border-color: #708090;
}

#background {
	width: 100%;
	background: url(topography.png);
}

#About {
	position: relative;
	padding: 20px;
	background-color: #ffffff;
	width: 650px;
	height: 505px;
	top: 50px;
	left: 150px;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 24px;
	color: #008B8B;
	margin-left: 20px;
}

img {
	margin-left: 20px;
}

p {
	float: left;
}

#tab1 {
	position: absolute;
	top: 25px;
	right: 600px;
}

#tab2 {
	position: absolute;
	top: 25px;
	right: 450px;
}

#tab3 {
	position: absolute;
	top: 25px;
	right: 300px;
}